@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
$yellow-color: #FFC727;
$gray-color: #37474F;
$button-text-color: #263238;
$purple-color: #9A5FE5;
$white-color: #F1E1D2;
$breakpoint-full: 1800px;
$breakpoint-note: 1440px;
$breakpoint-notebook: 1024px;
$breakpoint-table: 768px;
$breakpoint-mobile-l: 425px;
$breakpoint-mobile-m: 375px;
$breakpoint-mobile-s: 320px;
$breakpoint-mobile-xs: 280px;