%header {
    font-weight: 900;
    font-size: 98px;
    color: $yellow-color;
    text-transform: uppercase;
}

%sections_header {
    font-weight: 900;
    font-size: 74px;
    color: $button-text-color;
}

%paragraph {
    font-weight: 600;
    font-size: 20px;
    color: $gray-color;
}

%add_header {
    font-weight: 900;
    font-size: 30px;
    color: $button-text-color;
    text-transform: uppercase;
}